@import url("https://fonts.googleapis.com/css?family=Lakki+Reddy");
* {
    font: 20px 'Lakki Reddy', cursive;
    letter-spacing: 2px;
    color: #FFFFFF;
}

html, body {
    background: #2c1b56;
}

pre {
    /* bootstrap style */
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

pre {
    background: rgba(29, 17, 64, 0.85);
    border: 0;
    border-left: 4px solid #7371B7;
    border-radius: 0;
    color: #6C7887;
    overflow-x: auto;
}