@import url("https://fonts.googleapis.com/css?family=Lakki+Reddy");
body {
    font: 20px 'Lakki Reddy', cursive;
    letter-spacing: 2px;
    background-color: rgb(245, 248, 250);
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

header {
    background: #99bfcc;
}

section header {
    background: #FFF;
    max-height: 80px;
    overflow: hidden;
}

section header .heading .ent-number {
    border-radius: 4px;
    background: #8cdcef;
    padding: 0 0 0 2px;
    margin-right: 8px;
}

ul {
    list-style: none;
}

a {
    color: #FFF;
}

.loader {
    font-size: 22px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.main {
    background: #DDD;
}

.main:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

aside.sidepanel {
    padding-top: 20px;
}

.entry-wrapper {
    padding: 20px;
    float: left;
}

.entry {
    height: 150px;
    overflow: hidden;
    background: #FFF;
    border: 1px solid #E7E7E7;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 5px;
    padding: 0 20px;
}

.entry:hover {}

.entry a {
    color: #000;
    font-size: 15px;
}

.timestamp {
    border-radius: 4px;
    background: #ddd;
    padding: 3px 8px;
    width: auto;
    display: table;
}

.footer {
    position: relative;
    bottom: 0px;
    padding: 40px 0;
    width: 100%;
    background: #30abd5;
    float: left;
}

.col-no-padding {
    padding-left: 0;
    padding-right: 0;
}

.ent-wrapper {
    margin-bottom: 3%;
}