<!-- New doc panel -->
<section id="newDocPanel">
    <form name="newDocForm" class="box-sha" ng-submit="postNewDoc()">
        <div class="">
            <div class="headline">
              <h3>New document</h3>
            </div>
            <div class="input-group">
                <label for="name">Title</label>
                <input id="name" class="form-control" type="text" ng-model="docTitle"/>
            </div>
            <div class="input-group">
                <label for="message">Code</label>
                <textarea id="code" class="form-control" ng-model="docCode"></textarea>
            </div>
            <div class="input-group">
                <label for="message">Content</label>
                <textarea id="message" class="form-control" ng-model="docContent"></textarea>
            </div>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-purple">Post</button>
                <button type="button" class="btn btn-default" name="button" ng-click="goto('/')">Back</button>
            </div>
        </div>
    </form>
</section>
