<div class="main">
    <div class="content col-md-10">
        <section class="entry-wrapper">
            <h2>Heading</h2>
            <div class="ent-wrapper col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="#entry of feedData | async; #i = index">
                <article class="entry">
                    <header>
                        <h3 class="heading">
        <span class="ent-number">{{i + 1}}. </span>
        <a href="{{entry.url}}">{{entry.title}}</a>
      </h3>
                    </header>
                    <footer>
                        <h6 class="timestamp">{{entry.created_utc * 1000 | date:"mediumTime"}}.</h6>
                        <h5>
        <a href="">Continue Reading →</a>
      </h5>
                    </footer>
                </article>
            </div>
        </section>
    </div>
</div>